# -*- mode: ruby -*-
# vi: set ft=ruby :

# VM-specific Vagrantfile template
# This file should be copied to each VM directory and customized

Vagrant.configure("2") do |config|
  # VM configuration will be set by the parent Vagrantfile
  # This is a placeholder template
end
